header{ 
    text-align: center;
    padding: 0%;
    margin-top: 0%;
    }
    
nav{
    position: sticky;
    top: 0%;
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 0%;
    }
ul{ 
    padding-bottom: 30px;
    
    }
li{ 
    display: inline;
    font-size: 20px;
    margin-right: 20px;
    background-color: #7ee1fc;
    padding: 5px 20px 5px 20px;
    float: right;
    }
    
a:link{ 
      text-decoration: none;
      
      }
li:hover{ 
      background-color: #FF83AC;
      
      
      }

.col{
 background-color: #fce8f3;
 width: 80%;
 height: 300px;
 border-radius: 8px;
 padding: 20px;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 20px;
 margin-right: 20px;
 border-style: groove;
}
      
    
div{ 
    margin-top: 50px;
    background-color: #edfbfe;
    width: 100%;
    height: 200px;
    padding-top: 20px;
    }
  
    p{
   margin-left: 20px;
  
    }
  
    .fa {
      padding: 10px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 10px;
      margin-right: 20px;
      display: inline;
    }
  
    .fa-facebook {
      background: #3B5998;
      color: white;
      float: right;
    }
  
    .fa-twitter {
      background: #55ACEE;
      color: white;
      float: right;
    }
   
    .fa-instagram {
      background: #125688;
      color: white;
      float: right;
    }
  
    .fa-youtube {
      background: #55ACEE;
      color: white;
      float: right;
    }